*,
::after,
::before {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
:root{
    --dark-grey: #0a0a23;
    --white: #ffffff;
    --yellow: #f1be32;
    --black: #000000;
    --maroon: #800000;
    --yellow: #f1be32;
}
body{
    background-color: var(--dark-grey);
    color:var(--white);
    text-align:center;
    padding:20px;
}
h1{
   margin:1rem auto;
   text-decoration:underline;
   text-underline-offset:5px;
}
.info{
    background-color:var(--yellow);
    color:var(--black);
    padding:10px;
    margin: 20px;
    border-radius:10px;
    font-size:1.2em;
}
.players{
    width:20em;
    height:2em;
}
.cards{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin:1.2em auto;
}
#player-card{
    background-color: var(--white);
    color:var(--black);
    padding:20px;
    border-radius:20px;
    width:15em;
    margin:0.5em;
}
.players{
    font: size 0.9em;
    font-family:sans-serif;
}
.player-card{
    background-color: var(--white);
    color:var(--black);
    padding:20px;
    border-radius:20px;
    width:15em;
    margin:0.5em;
}
@media (max-width: 768px) {
    .team-stats {
      flex-direction: column;
    }
  }